<section id="page-header" class="about-header" @*style="background-image: url('~/assets/img/banner/b10.jpg')*@>
    <h2>#Lets Buy</h2>
    <p>Buy, buy, buy</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"><i class="ri-close-circle-line"></i></a></td>
                <td><img src="~/assets/img/products/f1.jpg" alt=""></td>
                <td>Cartoon Buta Koynek</td>
                <td>$118.90</td>
                <td><input type="number"></td>
                <td>$118.90</td>

            </tr>
            <tr>
                <td><a href="#"><i class="ri-close-circle-line"></i></a></td>
                <td><img src="img/products/f3.jpg" alt=""></td>
                <td>Cartoon Buta Koynek</td>
                <td>$118.90</td>
                <td><input type="number"></td>
                <td>$118.90</td>

            </tr>
            <tr>
                <td><a href="#"><i class="ri-close-circle-line"></i></a></td>
                <td><img src="img/products/f2.jpg" alt=""></td>
                <td>Cartoon Buta Koynek</td>
                <td>$118.90</td>
                <td><input type="number"></td>
                <td>$118.90</td>

            </tr>

        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>
            Apply Coupon
        </h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>

    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>$335</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$335</strong></td>
            </tr>
        </table>
        <button class="normal">Proceed to Checkout</button>
    </div>
</section>